body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  margin-top: 20px;
}


.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.card-img-top {
  width: 100%;
  height: 400px; 
  object-fit: cover; 
}


.card-body {
  padding: 15px;
}


.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}


.card-text {
  font-size: 1rem;
}


.btn-primary {
  background-color: black;
  color: white;
  border-color: black;
  padding: 8px 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
}




/*Add to Cart button */
.btn-add-to-cart {
  background-color: white; 
  color: black;
  border: 2px solid #ba2e2e;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
 
}

/* Hover effect */
.btn-add-to-cart:hover {
  color: white;
  background-color: #ba2e2e; 
  border-color: #ba2e2e; 
  transform: translateY(-2px);
}


.btn-add-to-cart:active {
  background-color: #ba2e2e; 
  border-color: #ba2e2e;
  transform: translateY(0);
}


.btn-add-to-cart:focus {
  outline: none; 
  box-shadow: 0 0 0 4px ba2e2e; 
}



@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: 1fr; 
  }
}
